html {
	height: 100%;
 }

 .outerdiv {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 6px;
 }
 .outerdiv-screen-share{
  display: inline-flex;
  height: 100%;
  width: 100%;
  bottom: 6px;
 }
 .middlediv {
 	display: table-cell;
 	vertical-align: middle;
 }
 .innerdiv{
 	margin-left: auto;
 	margin-right: auto;
 }
 .container {
    /*max-width: 1920px;*/
}
.container-screen{
  /*max-width: 1920px;*/
  display: table-cell;
}
.ss-resize-width
{
  width: 90%
}
.middlediv-screen{
  display: none;
}
.el-participants-screen{
  max-width: 100%;
}
.el-participants {
    max-width: 100%;
}

.el-attendees-0 .el-participants--item {
  flex-basis: 100%
}

.el-attendees-1 .el-participants--item {
  flex-basis: 100%
}
.el-attendees-2 .el-participants--item {
  flex-basis: 50%
}
.el-attendees-3 .el-participants--item {
  flex-basis: 33%
}

.el-attendees-4 .el-participants--item {
  flex-basis: 50%
}

.el-attendees-5 .el-participants--item {
  flex-basis: 33%
}

.el-attendees-6 .el-participants--item {
  flex-basis: 33%
}

.el-attendees-7 .el-participants--item {
  flex-basis: 25%
}

.el-attendees-8 .el-participants--item {
  flex-basis: 25%
}

.el-attendees-9 .el-participants--item {
  flex-basis: 20%
}

.el-attendees-10 .el-participants--item {
  flex-basis: 20%
}

.el-attendees-0 {
  width: 100%
}
.el-attendees-1 {
  width: 70%
}
.el-attendees-2 {
  width: 100%
}
.el-attendees-3 {
  width: 100%
}
.el-attendees-4 {
  width: 70%
}
.el-attendees-5 {
  width: 82%
}
.el-attendees-6 {
  width: 100%
}
.el-attendees-7 {
  width: 100%
}
.el-attendees-8 {
  width: 100%
}
.el-attendees-9 {
  width: 100%
}
.el-attendees-10 {
  width: 100%
}
