.el-marker {
  text-align: center;
  padding: 25px 0 0;
  padding-top: 5px;
}
.el-marker--item  {
  background: none;
  cursor: pointer;
  &:focus {
    z-index: 1060;
    position: relative;
  } 
}
.el-marker--item-icon  {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 41px;
  border-radius: 36px;
  border: 2px #fff solid;
  display: inline-block;
  font-size: 19px;
  &:hover, &:focus {
    border: 2px #cf641c solid;
    color: #cf641c;
  }
}

.el-marker--item-title {
  color: #fff;
  display: block;
  font-size: 11px;
  padding-top: 8px;
  font-weight: 400;
  letter-spacing: 0px;
}

.el-marker--item-block-title {
  -webkit-transform: rotate(-90deg);
  border-bottom: 2px solid #fff;
  display: inline-block;
  font-size: 12px;
}

.bar-step.el-marker-pending {
    left: 84.26356779006672%;
    border: 2px #cf641c solid;
    background: #343434;
    z-index: 1100;
}

.el-marker-pending .label-txt {
    color: #cf641c;
    padding: 5px;
}

.el-marker--item--active .el-marker--item-icon {
  border: 2px #cf641c solid;
  position: relative;
  z-index: 1049;
}
.el-marker--item--active .el-marker--item-icon::after {
  content: "";
  display: inline-block;
  background: #cf641c;
  width: 2px;
  height: 138px;
  position: absolute;
  top: 36px;
  left: 18px;
}
.el-marker--item--active .el-marker--item-title {
  visibility: hidden;
}