.modal-dialog {
  margin-top: 5%
}
.modal-content.marker-modal-content {
  width: 75%;
  border: 3px #cf641c solid
}
.modal-title {
  color: #cf641c;
}

.modal-header.desc {
  padding: 8px;
  padding-bottom: 0px;
}

.modal-footer .button-list {
  padding: 6px;
  text-align: right;
}

.modal-footer.marker-modal-footer {
  padding-top: 0px;
  padding-bottom: 5px ;
  border-top: initial;
}

.modal-footer .button-list {
  margin-top: -20px;
}

.modal-footer .note {
  text-align: left;
}

#marker-description {
  height: 75px;
  font-size: 1.1rem;
}

.modal-body.marker-modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-footer .btn {
  line-height: 0.65;
}

.modal-dialog.marker-modal-dialog {
  width: 675px
}