.modal-content.marker-modal-content {
  border: 3px #cf641c solid
}
.modal-title {
  color: #cf641c;
}

.modal-header.desc {
  padding: 8px;
  padding-bottom: 6px;
  padding-left: 18px;
}

.modal-footer .button-list {
  padding: 6px;
  text-align: right;
}

.modal-footer.marker-modal-footer {
  padding-top: 0px;
  padding-bottom: 5px ;
  border-top: initial;
}

.modal-footer .button-list {
  margin-top: -35px;
}

.modal-footer .note {
  text-align: left;
}

#marker-description {
  height: 75px;
  font-size: 1.1rem;
  background: #efebeb;
}

.modal-body.marker-modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
}


.modal-body.marker-info-body {
  padding-top: 30px;
  padding-bottom: 0px;
}

.modal-footer .btn {
  line-height: 0.65;
}

.modal-dialog.marker-modal-dialog {
  width: 575px;
  margin-top: 170px
}
.marker-info-modal-body .marked-description {
  color: black;
  font-size: 12px;
}

.el-btn-save {
  background: none;
  border: none;
  color: #049ec1;
  font-size: 12px;
}

.el-btn-save i {
  font-size: 20px;
  line-height: 0;
}

.el-btn-save .icon-save:before {
  content: "\42";
  padding-bottom: 5px;
  padding-left: 5px;
  transform: rotateZ(10Deg);
}

.el-btn-save:hover {
  background: none;
  border: none;
  color: #049ec1;
}

.el-speaker-read--item {
  padding-bottom: 30px;
}
.el-speaker-read--item-details {
  padding-bottom: 10px;
}
.el-speaker-read--item-details-avatar-img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.el-speaker-read--item-details-name {
  font-size: 22px;
  color: #cf641c;
}
.el-nav-tabs--wrap {
  /* border-top:2px #cf641c solid; */
  padding-bottom: 38px;
}
.el-nav-tabs {
  float: right;
  background: #fff;
  position: relative;
  top: -16px;
  border: none;
}
.el-nav-tabs--item {
  padding: 0 4px;
  text-align: center;
}
.el-nav-tabs--item span:before {
  font-size: 22px;
}
.el-nav-tabs--item-active {
  /* color: #049fc2;  */
  color: #cf641c;
}
/* .el-nav-tabs--item-active .selected{
  color: #cf641c; 
} */
.el-nav-tabs--item-active:hover,
.el-nav-tabs--item-active:focus{
  color: #049fc2; 
} 
.el-nav-tabs--item-inactive{
  color: lightgrey;
  cursor: default;
}
.el-nav-tabs--item-inactive:hover,
.el-nav-tabs--item-inactive:focus{
  color: lightgrey;
  cursor: default;
}
.nav-item .icon-read:before {
    content: "\76";
}
.nav-item .icon-watch:before {
    content: "\77";
}
.nav-item .icon-listen:before {
    content: "\78";
}