.el-playback-searchbox {
  margin-left: 18%;
  width: 70%;
  padding-left: 1%;
  padding-top: 20px;
  padding-bottom: 40px;
}
.input-group.mb-2.mr-sm-2.mb-sm-0{
  display: inline-flex; 
  width: 90%;
}
.el-playback-searchbox--form-control,
.el-playback-searchbox--form-control:focus{
border-radius: .35rem 0px 0px .35rem;
}
.el-playback-searchbox--form-control,
.el-playback-searchbox--form-control:focus,
.el-playback-searchbox--input-group-addon,
.el-playback-searchbox--input-group-addon:focus {
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid rgba(255, 255, 255, 0.42);
  font-size: 1.3rem;
}
.el-playback-searchbox--input-group-addon {
  border-left: 0px;
  padding: 7px 18px;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 0px .35rem .35rem 0px;
}
